# prediction based on hypothesis

In [67]:
import pandas as pd 
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor

In [68]:
df=pd.read_csv('F:\\applied machine learing\\My data set\\project 24\\3_Big smart sales\\modified_df.csv')

In [69]:
df.head()

,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Outlet_Establishment_Year,Outlet_Identifier,est.year,IT_DR,IT_FD,IT_NC,...,OLT_Tier 3,OS_High,OS_Medium,OS_Small,OT_Grocery Store,OT_Supermarket Type1,OT_Supermarket Type2,OT_Supermarket Type3,IF_LF,IF_reg
0,249.8092,3735.1380,Dairy,0.016047,1999,OUT049,14,0,1,0,...,0,0,1,0,0,1,0,0,1,0
1,48.2692,443.4228,Soft Drinks,0.019278,2009,OUT018,4,1,0,0,...,1,0,1,0,0,0,1,0,0,1
2,141.6180,2097.2700,Meat,0.016760,1999,OUT049,14,0,1,0,...,0,0,1,0,0,1,0,0,1,0
3,182.0950,732.3800,Fruits and Vegetables,0.000000,1998,OUT010,15,0,1,0,...,1,0,1,0,1,0,0,0,0,1
4,53.8614,994.7052,Household,0.000000,1987,OUT013,26,0,0,1,...,1,1,0,0,0,1,0,0,1,0

In [71]:
df.Outlet_Identifier.value_counts()

OUT027    1559
OUT013    1553
OUT035    1550
OUT049    1550
OUT046    1550
OUT045    1548
OUT018    1546
OUT017    1543
OUT010     925
OUT019     880
Name: Outlet_Identifier, dtype: int64

In [51]:
df.drop(['OS_High','OS_Medium','OS_Small','Outlet_Identifier','Item_Type'], 1, inplace=True)

In [52]:
df.shape

(14204, 17)

In [53]:
df_train_full=df[:8523]
df_test_full=df[8523:]
from sklearn import model_selection, svm, preprocessing

In [54]:
X_full=np.array(df_train_full.drop(['Item_Outlet_Sales'], 1))
X_full=preprocessing.scale(X_full)
y_full=np.array(np.log(df_train_full['Item_Outlet_Sales']))

In [55]:
X_train_full, X_test_full, y_train_full, y_test_full=model_selection.train_test_split(X_full, y_full, test_size=0.1)

In [56]:
clf_lr=LinearRegression(n_jobs=1)

In [57]:
clf_dt=DecisionTreeRegressor(max_depth=6)
clf_svml=svm.SVR(kernel='linear')
clf_svmp=svm.SVR(kernel='poly')

In [58]:
from xgboost import XGBRegressor

In [59]:
clf_xgb=XGBRegressor()

In [60]:
from sklearn.ensemble import GradientBoostingRegressor

In [61]:
clf_gbr=GradientBoostingRegressor(learning_rate=0.1, max_depth=6)

In [62]:
clf_lr.fit(X_train_full, y_train_full)
clf_dt.fit(X_train_full, y_train_full)
clf_svml.fit(X_train_full, y_train_full)
clf_svmp.fit(X_train_full, y_train_full)
clf_xgb.fit(X_train_full, y_train_full)
clf_gbr.fit(X_train_full, y_train_full)

GradientBoostingRegressor(alpha=0.9, criterion='friedman_mse', init=None,
             learning_rate=0.1, loss='ls', max_depth=6, max_features=None,
             max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             n_estimators=100, presort='auto', random_state=None,
             subsample=1.0, verbose=0, warm_start=False)

In [63]:
print(clf_lr.score(X_test_full, y_test_full)*100,clf_dt.score(X_test_full, y_test_full)*100,clf_svml.score(X_test_full, y_test_full)*100,clf_svmp.score(X_test_full, y_test_full)*100,clf_xgb.score(X_test_full, y_test_full)*100,clf_gbr.score(X_test_full, y_test_full)*100)

71.06633402827896 73.21340487582727 70.79412696910947 70.59979835901578 74.10609592740083 72.76096042049546

In [64]:
df_test_full

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Outlet_Establishment_Year,est.year,IT_DR,IT_FD,IT_NC,OLT_Tier 1,OLT_Tier 2,OLT_Tier 3,OT_Grocery Store,OT_Supermarket Type1,OT_Supermarket Type2,OT_Supermarket Type3,IF_LF,IF_reg
8523,107.8622,NaN,0.007565,1999,14,0,1,0,1,0,0,0,1,0,0,1,0
8524,87.3198,NaN,0.038428,2007,6,0,1,0,0,1,0,0,1,0,0,0,1
8525,241.7538,NaN,0.099575,1998,15,0,0,1,0,0,1,1,0,0,0,1,0
8526,155.0340,NaN,0.015388,2007,6,0,1,0,0,1,0,0,1,0,0,1,0
8527,234.2300,NaN,0.118599,1985,28,0,1,0,0,0,1,0,0,0,1,0,1
8528,117.1492,NaN,0.063817,1997,16,0,1,0,1,0,0,0,1,0,0,0,1
8529,50.1034,NaN,0.082602,2009,4,0,1,0,0,0,1,0,0,1,0,0,1
8530,81.0592,NaN,0.015782,1985,28,0,1,0,0,0,1,0,0,0,1,1,0
8531,95.7436,NaN,0.123365,2002,11,0,1,0,0,1,0,0,1,0,0,0,1
8532,186.8924,NaN,0.005698,2007,6,0,1,0,0,1,0,0,1,0,0,1,0
8533,118.3466,NaN,0.103569,2007,6,0,1,0,0,1,0,0,1,0,0,1,0
8534,85.3908,NaN,0.105811,2002,11,0,1,0,0,1,0,0,1,0,0,1,0
8535,240.4196,NaN,0.171079,1985,28,0,0,1,1,0,0,1,0,0,0,1,0
8536,122.3098,NaN,0.092738,1999,14,0,1,0,1,0,0,0,1,0,0,1,0
8537,52.0298,NaN,0.021206,1987,26,1,0,0,0,0,1,0,1,0,0,1,0
8538,151.6366,NaN,0.079451,1999,14,0,1,0,1,0,0,0,1,0,0,0,1
8539,198.7768,NaN,0.054135,2002,11,0,1,0,0,1,0,0,1,0,0,1,0
8540,192.2188,NaN,0.037981,2009,4,1,0,0,0,0,1,0,0,1,0,1,0
8541,109.6912,NaN,0.028184,1985,28,0,0,1,0,0,1,0,0,0,1,1,0
8542,193.7136,NaN,0.196898,1998,15,0,1,0,0,0,1,1,0,0,0,1,0
8543,175.0080,NaN,0.109920,1987,26,0,1,0,0,0,1,0,1,0,0,1,0
8544,239.9196,NaN,0.182619,2004,9,0,0,1,0,1,0,0,1,0,0,1,0
8545,47.7402,NaN,0.065631,1997,16,0,1,0,1,0,0,0,1,0,0,1,0
8546,142.3470,NaN,0.027447,1985,28,0,0,1,1,0,0,1,0,0,0,1,0
8547,180.7318,NaN,0.035179,2004,9,0,1,0,0,1,0,0,1,0,0,1,0
8548,209.4928,NaN,0.038455,1998,15,0,1,0,0,0,1,1,0,0,0,0,1
8549,47.6034,NaN,0.035102,2004,9,0,0,1,0,1,0,0,1,0,0,1,0
8550,161.3894,NaN,0.091485,1997,16,0,0,1,1,0,0,0,1,0,0,1,0
8551,244.6802,NaN,0.058102,1997,16,1,0,0,1,0,0,0,1,0,0,1,0
8552,116.5492,NaN,0.022940,2004,9,0,1,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14174,186.1898,NaN,0.048645,1987,26,0,1,0,0,0,1,0,1,0,0,0,1
14175,126.7678,NaN,0.087847,2002,11,0,1,0,0,1,0,0,1,0,0,1,0
14176,80.2960,NaN,0.028977,2004,9,0,1,0,0,1,0,0,1,0,0,0,1
14177,144.5760,NaN,0.000000,1987,26,0,1,0,0,0,1,0,1,0,0,1,0
14178,143.6786,NaN,0.099375,1985,28,0,1,0,0,0,1,0,0,0,1,0,1
14179,207.8296,NaN,0.158425,1985,28,0,1,0,0,0,1,0,0,0,1,1,0
14180,261.3278,NaN,0.035911,1997,16,0,1,0,1,0,0,0,1,0,0,1,0
14181,123.4704,NaN,0.037656,1987,26,0,1,0,0,0,1,0,1,0,0,1,0
14182,188.8530,NaN,0.044073,1999,14,1,0,0,1,0,0,0,1,0,0,1,0
14183,215.3850,NaN,0.026065,1987,26,0,1,0,0,0,1,0,1,0,0,1,0
14184,155.7972,NaN,0.000000,1985,28,1,0,0,0,0,1,0,0,0,1,1,0
14185,214.3850,NaN,0.026234,2007,6,0,1,0,0,1,0,0,1,0,0,1,0
14186,72.8696,NaN,0.033516,2009,4,1,0,0,0,0,1,0,0,1,0,1,0
14187,173.4054,NaN,0.045168,2009,4,1,0,0,0,0,1,0,0,1,0,0,1
14188,46.0718,NaN,0.024110,1985,28,1,0,0,0,0,1,0,0,0,1,1,0
14189,196.9084,NaN,0.014019,1997,16,0,1,0,1,0,0,0,1,0,0,0,1
14190,82.1250,NaN,0.045270,1997,16,0,1,0,1,0,0,0,1,0,0,1,0
14191,115.1518,NaN,0.288892,1998,15,0,1,0,0,0,1,1,0,0,0,1,0
14192,188.0530,NaN,0.072529,1985,28,0,1,0,0,0,1,0,0,0,1,1,0
14193,229.4352,NaN,0.037092,2007,6,0,1,0,0,1,0,0,1,0,0,0,1
14194,59.5904,NaN,0.054463,1999,14,0,1,0,1,0,0,0,1,0,0,0,1
14195,231.1010,NaN,0.036594,1999,14,0,0,1,1,0,0,0,1,0,0,1,0
14196,116.0834,NaN,0.094053,2009,4,0,1,0,0,0,1,0,0,1,0,1,0
14197,43.2770,NaN,0.030704,1997,16,1,0,0,1,0,0,0,1,0,0,1,0
14198,63.4484,NaN,0.070411,1999,14,0,1,0,1,0,0,0,1,0,0,0,1
14199,141.3154,NaN,0.013496,1997,16,0,1,0,1,0,0,0,1,0,0,0,1
14200,169.1448,NaN,0.142991,2009,4,0,1,0,0,0,1,0,0,1,0,0,1
14201,118.7440,NaN,0.073529,2002,11,0,0,1,0,1,0,0,1,0,0,1,0
14202,214.6218,NaN,0.000000,2007,6,0,1,0,0,1,0,0,1,0,0,0,1
14203,79.7960,NaN,0.104720,2002,11,0,1,0,0,1,0,0,1,0,0,0,1

# best accuracy give by Xgboost

In [65]:
df_test_full=np.array(df_test_full.drop(['Item_Outlet_Sales'], 1))
#implementing xg boost classifier
k=clf_xgb.predict(df_test_full)
k=pd.DataFrame(k)

In [66]:
k

             0
0     7.846538
1     7.846538
2     7.808155
3     7.846538
4     7.846538
5     7.846538
6     7.846538
7     7.846538
8     7.846538
9     7.846538
10    7.846538
11    7.846538
12    7.779480
13    7.846538
14    7.846538
15    7.846538
16    7.846538
17    7.846538
18    7.808155
19    7.786803
20    7.846538
21    7.748421
22    7.846538
23    7.808155
24    7.846538
25    7.846538
26    7.808155
27    7.808155
28    7.846538
29    7.846538
...        ...
5651  7.846538
5652  7.846538
5653  7.846538
5654  7.846538
5655  7.846538
5656  7.846538
5657  7.846538
5658  7.846538
5659  7.846538
5660  7.846538
5661  7.846538
5662  7.846538
5663  7.846538
5664  7.846538
5665  7.846538
5666  7.846538
5667  7.846538
5668  7.816242
5669  7.846538
5670  7.846538
5671  7.846538
5672  7.808155
5673  7.846538
5674  7.846538
5675  7.846538
5676  7.846538
5677  7.846538
5678  7.808155
5679  7.846538
5680  7.846538

[5681 rows x 1 columns]

In [ ]:
k.to_csv('F:\\applied machine learing\\My data set\\project 24\\3_Big smart sales\\Train_UWu5bXxg2.csv')